<br>
<button  class="btn btn-primary" (click)="viewAllExams()">All Exams</button>
<div *ngFor="let e of allExams" style="background-color:rgb(62, 70, 179);">
<table>
    <td><p>ExamId:{{e.examId}}</p>
        <p>Score:{{e.score}} </p>
        <p>DateOfExam:{{e.dateOfExam}}</p>
        <br>
    </td>

<hr>
                 <button  class="btn btn-primary" (click)=" addTestPaper(e.examId)">
                              Add TestPapers</button>
            <button type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
</table>
</div>
<hr/>







