<button class="btn btn-primary"  (click)="viewAllTestPapers()">All TestPapers</button>
<div *ngFor="let tp of testPaper" style="background-color:rgb(36, 87, 225);">
    <table>
        <tr>
            <td>
                <p>{{tp.difficultyLevel}}</p>
                <h2>{{tp.description}} </h2>
                <hr />
                <p>  {{tp.course}} </p>
                <br>
                <p> {{tp.noOfQuestions}}</p>
                <br>
                <button class="btn btn-primary" (click)="addTestQuestion(tp.testPaperId)">Add TestQuestions</button>

               <!---- <button type="submit" class="btn  btn-primary"(click)="onUpdate()">Update</button>-->
            </td>
        </tr>
        <hr>
    </table>
    </div>
    <br>

